/*
 * Copyright (c) 2024 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        /* Lowercase accented vowels and special chars via Linux Ctrl+Shift+U sequence */
        m_a_acute: m_a_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp U>,
                       <&macro_release &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp E &kp N1>,
                       <&macro_tap &kp RET>;
        };
        m_e_acute: m_e_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp U>,
                       <&macro_release &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp E &kp N9>,
                       <&macro_tap &kp RET>;
        };
        m_i_acute: m_i_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp U>,
                       <&macro_release &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp E &kp D>,
                       <&macro_tap &kp RET>;
        };
        m_o_acute: m_o_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp U>,
                       <&macro_release &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp F &kp N3>,
                       <&macro_tap &kp RET>;
        };
        m_u_acute: m_u_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp U>,
                       <&macro_release &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp F &kp A>,
                       <&macro_tap &kp RET>;
        };
        m_enie: m_enie {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp U>,
                       <&macro_release &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp F &kp N1>,
                       <&macro_tap &kp RET>;
        };
        m_inv_question: m_inv_question {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp U>,
                       <&macro_release &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp B &kp F>,
                       <&macro_tap &kp RET>;
        };
        m_inv_exclaim: m_inv_exclaim {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp U>,
                       <&macro_release &kp LCTRL &kp LSHFT>,
                       <&macro_tap &kp A &kp N1>,
                       <&macro_tap &kp RET>;
        };
    };

    combos {
        compatible = "zmk,combos";

        SoftOff {
            bindings = <&soft_off>;
            key-positions = <0 49 57>;
        };

        /* ' + vowel → accented vowel */
        combo_a_acute {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            key-positions = <35 25>;
            bindings = <&m_a_acute>;
            layers = <0>;
        };
        combo_e_acute {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            key-positions = <35 15>;
            bindings = <&m_e_acute>;
            layers = <0>;
        };
        combo_i_acute {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            key-positions = <35 20>;
            bindings = <&m_i_acute>;
            layers = <0>;
        };
        combo_o_acute {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            key-positions = <35 21>;
            bindings = <&m_o_acute>;
            layers = <0>;
        };
        combo_u_acute {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            key-positions = <35 19>;
            bindings = <&m_u_acute>;
            layers = <0>;
        };
        /* - + N → ñ */
        combo_enie {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            key-positions = <11 42>;
            bindings = <&m_enie>;
            layers = <0>;
        };
        /* - + / → ¿ */
        combo_inv_question {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            key-positions = <11 46>;
            bindings = <&m_inv_question>;
            layers = <0>;
        };
        /* - + 1 → ¡ */
        combo_inv_exclaim {
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            key-positions = <11 1>;
            bindings = <&m_inv_exclaim>;
            layers = <0>;
        };
    };

    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-soft-off";
            label = "NEW_BEHAVIOR";
            #binding-cells = <0>;
            hold-time-ms = <5000>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ┌────────┬────────┬────────┬────────┬────────┬────────┐                    ┌────────┬────────┬────────┬────────┬────────┬────────┐
            // │  ESC   │   1    │   2    │   3    │   4    │   5    │                    │   6    │   7    │   8    │   9    │   0    │  BSPC  │
            // ├────────┼────────┼────────┼────────┼────────┼────────┤                    ├────────┼────────┼────────┼────────┼────────┼────────┤
            // │  TAB   │   Q    │   W    │   E    │   R    │   T    │                    │   Y    │   U    │   I    │   O    │   P    │   \    │
            // ├────────┼────────┼────────┼────────┼────────┼────────┤                    ├────────┼────────┼────────┼────────┼────────┼────────┤
            // │  CTRL  │   A    │   S    │   D    │   F    │   G    │                    │   H    │   J    │   K    │   L    │   ;    │   '    │
            // ├────────┼────────┼────────┼────────┼────────┼────────┼────────┐  ┌────────┼────────┼────────┼────────┼────────┼────────┼────────┤
            // │ SHIFT  │   Z    │   X    │   C    │   V    │   B    │   [    │  │   ]    │   N    │   M    │   ,    │   .    │   /    │ SHIFT  │
            // └────────┴────────┴────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┴────────┴────────┘
            //                            │  ALT   │  GUI   │ LOWER  │ SPACE  │  │ ENTER  │ RAISE  │  BSPC  │  GUI   │
            //                            └────────┴────────┴────────┴────────┘  └────────┴────────┴────────┴────────┘

            bindings = <
&kp ESC         &kp N1    &kp N2  &kp N3     &kp N4    &kp N5    &kp N6   &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB         &kp Q     &kp W   &kp E      &kp R     &kp T     &kp Y    &kp U   &kp I      &kp O     &kp P     &kp BSLH
&kp LEFT_SHIFT  &kp A     &kp S   &kp D      &kp F     &kp G     &kp H    &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp LCTRL       &kp Z     &kp X   &kp C      &kp V     &kp B     &kp N    &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
&kp LALT        &kp LGUI  &mo 1   &kp SPACE  &kp LBKT  &kp RBKT  &kp RET  &mo 2   &kp BSPC   &kp RGUI
            >;
        };

        lower_layer {
            // ┌────────┬────────┬────────┬────────┬────────┬────────┐                    ┌────────┬────────┬────────┬────────┬────────┬────────┐
            // │        │  F1    │  F2    │  F3    │  F4    │  F5    │                    │  F6    │  F7    │  F8    │  F9    │  F10   │  DEL   │
            // ├────────┼────────┼────────┼────────┼────────┼────────┤                    ├────────┼────────┼────────┼────────┼────────┼────────┤
            // │        │        │        │        │        │        │                    │        │        │        │  F11   │  F12   │        │
            // ├────────┼────────┼────────┼────────┼────────┼────────┤                    ├────────┼────────┼────────┼────────┼────────┼────────┤
            // │        │   !    │   @    │   #    │   $    │   %    │                    │   ^    │   &    │   *    │   (    │   )    │   ~    │
            // ├────────┼────────┼────────┼────────┼────────┼────────┼────────┐  ┌────────┼────────┼────────┼────────┼────────┼────────┼────────┤
            // │        │        │        │        │        │        │        │  │        │        │   _    │   +    │   {    │   }    │   |    │
            // └────────┴────────┴────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┴────────┴────────┘
            //                            │        │        │        │        │  │        │        │        │        │
            //                            └────────┴────────┴────────┴────────┘  └────────┴────────┴────────┴────────┘

            bindings = <
&trans  &kp F1    &kp F2  &kp F3          &kp F4            &kp F5      &kp F6      &kp F7             &kp F8           &kp F9    &kp F10   &kp DEL
&trans  &trans    &trans  &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp F11   &kp F12   &trans
&trans  &kp EXCL  &kp AT  &kp HASH        &kp DLLR          &kp PRCNT   &kp CARET   &kp AMPS           &kp ASTRK        &kp LPAR  &kp RPAR  &kp TILDE
&trans  &trans    &trans  &trans          &trans            &trans      &trans      &kp MINUS          &kp PLUS         &kp LBRC  &kp RBRC  &kp PIPE
&trans  &trans    &trans  &trans          &trans            &trans      &trans      &trans             &trans           &trans
            >;
        };

        raise_layer {
            // ┌────────┬────────┬────────┬────────┬────────┬────────┐                    ┌────────┬────────┬────────┬────────┬────────┬────────┐
            // │        │        │        │        │        │        │                    │        │        │        │        │        │        │
            // ├────────┼────────┼────────┼────────┼────────┼────────┤                    ├────────┼────────┼────────┼────────┼────────┼────────┤
            // │   `    │   1    │   2    │   3    │   4    │   5    │                    │   6    │   7    │   8    │   9    │   0    │        │
            // ├────────┼────────┼────────┼────────┼────────┼────────┤                    ├────────┼────────┼────────┼────────┼────────┼────────┤
            // │  F1    │  F2    │  F3    │  F4    │  F5    │  F6    │                    │        │  LEFT  │  DOWN  │   UP   │ RIGHT  │        │
            // ├────────┼────────┼────────┼────────┼────────┼────────┼────────┐  ┌────────┼────────┼────────┼────────┼────────┼────────┼────────┤
            // │  F7    │  F8    │  F9    │  F10   │  F11   │  F12   │        │  │        │   +    │   -    │   =    │   [    │   ]    │   \    │
            // └────────┴────────┴────────┼────────┼────────┼────────┼────────┤  ├────────┼────────┼────────┼────────┼────────┴────────┴────────┘
            //                            │        │        │        │        │  │        │        │        │        │
            //                            └────────┴────────┴────────┴────────┘  └────────┴────────┴────────┴────────┘

            bindings = <
&trans     &trans  &trans  &trans   &trans   &trans   &trans       &trans     &trans     &trans     &trans    &trans
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5   &kp N6       &kp N7     &kp N8     &kp N9     &kp N0    &trans
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6   &kp LEFT     &kp DOWN   &kp UP     &kp RIGHT  &trans    &trans
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH
&trans     &trans  &trans  &trans   &trans   &trans   &trans       &trans     &trans     &trans
            >;
        };
    };
};
